# MongoDB
MONGODB_URI=mongodb://admin:password@mongodb:27017/urlshortener?authSource=admin

# Redis
REDIS_URL=redis://localhost:6379

# NextAuth
NEXTAUTH_URL=http://urlshortener
NEXTAUTH_SECRET=your_nextauth_secret_key

# App Config
NEXT_PUBLIC_APP_URL=http://urlshortener

# Admin User (primeira execução)
ADMIN_EMAIL=admin@sistema.com
ADMIN_PASSWORD=@dm1n