# MongoDB
MONGODB_URI=mongodb://admin:password@mongodb:27017/urlshortner?authSource=admin

# NextAuth
NEXTAUTH_URL=http://urlshortner
NEXTAUTH_SECRET=your_nextauth_secret_key

# App Config
NEXT_PUBLIC_APP_URL=http://urlshortner

# Admin User (primeira execução)
ADMIN_EMAIL=admin@sistema.com
ADMIN_PASSWORD=@dm1n