# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Arquivos grandes específicos
**/next-swc.win32-x64-msvc.node
**/*.node
# Tamanho máximo é de 100MB no GitHub

# Next.js
.next/
out/

# Ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log

# Docker
docker-compose.override.yml

# Sistema Operacional
.DS_Store
Thumbs.db

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo 